// Tylko surowa paleta barw (SASS)
$blue-primary: #6cafd9;
$blue-secondary: #62c3d9;
$cyan-light: #a7f2f2;
$green-success: #9bf2c1;
$green-pale: #c9f2d7;
$red-error: #ff4d4d;
$gray-dark: #333333;
$gray-light: #d1d5db;
$white: #ffffff;
